* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  padding: 20px;
  background: linear-gradient(90deg, #e75bad, #9b2bd2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

#logo:hover {
  background-color: rgb(173, 9, 17);
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

#menu {
  display: none;
  color: white;
  background-color: rgb(191, 5, 228);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(230, 12, 23);
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: white;
}


#nav-links.show {
  display: flex !important;
  flex-direction: column;
  background: #e75bad;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 10px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  background: linear-gradient(135deg, #a002fc, #4502fc, #02c8f5);
  color: white;
}


.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-section img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.image-section img:hover {
  transform: rotate(360deg);
}


.text-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.text-section li:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.text-section li:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffe600;
}

.text-section li:nth-child(3) {
  font-size: 1.2rem;
  font-style: italic;
  opacity: 0.9;
}


@media (max-width: 700px) {
  #menu {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .text-section ul {
    align-items: center;
  }

  .image-section img {
    width: 250px;
    height: 250px;
  }
}
